.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100%;

  &.cover {
    object-fit: cover;
  }

  &.hidden {
    visibility: hidden;
  }

  &.cyan {
    filter: hue-rotate(180deg);
  }

  &.yellow {
    filter: hue-rotate(60deg);
  }

  &.pink {
    filter: hue-rotate(300deg);
  }
  
  &.red {
    filter: hue-rotate(360deg);
  }
  
  &.green {
    filter: hue-rotate(120deg);
  }
  
  &.blue {
    filter: hue-rotate(240deg);
  }
  
  &.black {
    filter: grayscale(100%);
  }
  
  &.white {
    filter: blur(5px);
  }
}

.log {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 160px;
  max-width: 75%;
  max-height: 100%;
  padding: 8px;
  overflow: scroll;
  background: rgba(0, 0, 0, .8);
  z-index: 12000;
  color: white;
  font-size: 12px;

  button {
    width: 50%;
    min-height: 24px;
    margin-bottom: 8px;
    color: white;
    background: red;
  }

  .logTextArea {
    margin: 0;
    padding: 0;
    resize: none;
    border: 0;
    outline: none;
    color: white;
    background: none;
    line-height: 1.3;
    white-space: pre-wrap;
  }
}
