.container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.selfsize{
  position: relative;
  width: 100%;
  &:before {
    content: "";
    display: block;
    padding-top: 56.25%;  /* initial ratio of 1:1*/
  }

  .container {
    position: absolute;
  }
}

.shrink::before{
  padding-top: 26.25% !important;
}

.container *, .container :after, .container :before {
  box-sizing: border-box;
}

.msPlayer {
  display: flex;
  width: 100%;
  height: 100%;
  background: #ccc;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
}
